<div class="container">
  <div class="the_slider">
    <div class="owl-carousel owl-theme">
    <div class="item" (click)="openGamePortal(3124,1)"><img src="http://app.games2play.co/OoredooPortalCMS/resources/appstore_content/content/15/Html5Game/20190605/1304/Water_Craft_544x544.jpg" alt=""></div>
    <div class="item" (click)="openGamePortal(3308,2)"><img src="http://app.games2play.co/OoredooPortalCMS/resources/appstore_content/content/15/Html5Game/1560239409578/1422/Ninja_War_544x544.jpg" alt=""></div>
    <div class="item" (click)="openGamePortal(3202,3)"><img src="http://app.games2play.co/OoredooPortalCMS/resources/appstore_content/content/15/Html5Game/20190607/1369/Gold_Miner_Jack_544x544.jpg" alt=""></div>
    <div class="item" (click)="openGamePortal(3106,4)"><img src="http://app.games2play.co/OoredooPortalCMS/resources/appstore_content/content/15/Html5Game/20190605/1282/Swimming_Pro_544x544.jpg" alt=""></div>
    <div class="item" (click)="openGamePortal(3048,5)"><img src="http://app.games2play.co/OoredooPortalCMS/resources/appstore_content/content/15/Html5Game/20190604/1183/FruitSlasher_544x544.jpg" alt=""></div>
    <div class="item" (click)="openGamePortal(3365,6)"><img src="http://app.games2play.co/OoredooPortalCMS/resources/appstore_content/content/15/Html5Game/1560763015968/1485/Cdrone_544x544.jpg" alt=""></div>
  </div>
  </div>
</div>