
<!-- <app-menu-header (gameChildPlayGameClicked)="gameChildPlayGameClicked($event)" (gameChildPlayWishlistClicked)="gameChildPlayWishlistClicked($event)"></app-menu-header> -->
<app-login (gameChildPlayGameClicked)="gameChildPlayGameClicked($event)" (gameChildPlayWishlistClicked)="gameChildPlayWishlistClicked($event)"></app-login>
<!-- <app-section-game-child (GamePlayMovieClicked)="GamePlayMovieClicked($event)" (GameWishlistClicked)="GameWishlistClicked($event)"></app-section-game-child> -->
<app-section-game-child></app-section-game-child>
<app-footer></app-footer>