/* .banner_pricing .caption {
  top: 120px;
  bottom: auto;
}
.caption .font_big_green {
  font-size: 32px;
  color: #BEE70D;
  line-height: 40px;
}
.caption .caption_tag {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-top: 8px;
} */
