<section class="banner_section banner_pricing">
  <div class="banner">
    <img src="{{bannerImageLink}}"
      class="img-responsive" alt="illustrated_banner_pricing_desktop" />
    <div class="caption container">
      <span class="font_big_green">{{heading}}</span><br>
      <span class="font_big_green">{{heading1}}</span><br>
      <span class="font_big_green">{{heading3}}</span>
      <span class="caption_tag font_lato">{{heading2}}</span>
    </div>
  </div>
  <app-loader id="sub-pack-selection-preview-banner"></app-loader>
</section>
