<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"
          ></span>
      </button>
      <h4 class="modal-title color_green" id="myModalLabel">
        Confirm your subscription
      </h4>
    </div>
    <div class="modal-body font_lato">
      <p class="text-center">Confirm your subscription? </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary full_width font_lato" (click)="ConfirmSubscription()">CONFIRM</button>
    </div>
  </div>
</div>
