
  <!--Banner section-->
  <section class="banner_section banner_section_wishlist">
    <div class="banner banner_wishlist">
      <img src="/assets/images/banners/illustrated_banner/wishlist/wishlist_desktop_tablet.svg" class="img-responsive" alt="wishlist_desktop_tablet" />
      <div class="caption container"><span class="font_big">You haven’t added anything yet</span>Save your favourites to this list when you ‘Add to Wishlist.’ <br>Already have a list but can't see it here?
        <button class="btn btn-default font_lato">Log In</button>
      </div>
    </div>
  </section>
<!--Banner section end-->

<!--wishlist section-->
  <section class="wishlist_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="subs_plans featured_images">
            <img src="/assets/images/featured/videos/listing_desktop_tablet_1.png" class="img-responsive"  alt="listing_desktop_tablet_1"/>
            <div class="img_desc">
              <h2 class="creative_name font_lato">Creed II</h2>
                <ul class="star_rating inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar"/></li>
                </ul>
                <span class="rating font_lato">4.5</span>
                <div class="creative_type_year font_lato">
                  <span class="creative_type">Drama</span> | <span class="creative_year">2018</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="subs_plans featured_images">
            <img src="/assets/images/featured/videos/listing_desktop_tablet_2.png" class="img-responsive"  alt="listing_desktop_tablet_1"/>
            <div class="img_desc">
              <h2 class="creative_name font_lato">Mary Poppins Returns</h2>
                <ul class="star_rating inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar"/></li>
                </ul>
                <span class="rating font_lato">4.5</span>
                <div class="creative_type_year font_lato">
                  <span class="creative_type">Musical</span> | <span class="creative_year">2018</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 no_padding margin_bottom24 ">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/music/listing_desktop_tablet_1.png" class="img-responsive inline"  alt="listing_desktop_tablet_1"/>
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Phoenix (Deluxe)</h2>
                  <div class="creative_type_year font_lato margin_top0">
                    <span class="creative_type">Rita Ora</span> | <span class="creative_year">Pop</span>
                    <!-- <span class="count">16 Songs</span> -->
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 no_padding">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/music/listing_desktop-tablet_2.png" class="img-responsive inline"  alt="listing_desktop_tablet_1"/>
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Phases</h2>
                  <div class="creative_type_year font_lato margin_top0">
                    <span class="creative_type">Mackenzie Ziegler</span> | <span class="creative_year">Pop</span>
                    <span class="count">8 Songs</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-sm-4-->
        <div class="col-sm-4">
          <div class="col-sm-12 margin_bottom24 no_padding">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_1.png" class="img-responsive inline"  alt="listing_games_desktop_tablet_landscape_1"/>
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Clash of clans</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar"/></li>
                </ul>
                
                  <div class="creative_type_year font_lato margin_top0 inline">
                    <span class="rating font_lato v_align_normal">4.5</span> | <span class="creative_type margin_top0">Action</span>
                    <span class="play_click"><a class="margin_left0" href="">Play <img src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 margin_bottom24 no_padding">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_2.png" class="img-responsive inline"  alt="listing_games_desktop_tablet_landscape_2"/>
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Fifa football</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar"/></li>
                </ul>
                
                  <div class="creative_type_year font_lato margin_top0 inline">
                    <span class="rating font_lato v_align_normal">4.5</span> | <span class="creative_type margin_top0">Action</span>
                    <span class="play_click"><a class="margin_left0" href="">Play <img src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 margin_bottom24 no_padding">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_3.png" class="img-responsive inline"  alt="listing_games_desktop_tablet_landscape_2"/>
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Limbo</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar"/></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar"/></li>
                </ul>
                
                  <div class="creative_type_year font_lato margin_top0 inline">
                    <span class="rating font_lato v_align_normal">4.5</span> | <span class="creative_type margin_top0">Action</span>
                    <span class="play_click"><a class="margin_left0" href="">Play <img src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-sm-4-->
      </div>
    </div>
  </section>
<!--wishlist section end-->
