
<!--what you get section-->
<!-- <section class="what_you_get_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Know what you are getting.</h2>
      </div>
      <div class="col-sm-6">
        <div
          class="panel-group"
          id="accordion"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default collapse_menu">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Lorem ipsum dolor sit amet, consectetur elit, sedo?
                  <span
                    class="carat_accordian more-less carat_accordian_down pull-right"
                  ></span>
                </a>
              </h4>
            </div>
            <div
              id="collapseOne"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingOne"
            >
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="panel-group"
          id="accordion2"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default collapse_menu">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion2"
                  href="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  Lorem ipsum dolor sit amet, consectetur elit, sedo?
                  <span
                    class="carat_accordian more-less carat_accordian_down pull-right"
                  ></span>
                </a>
              </h4>
            </div>
            <div
              id="collapseTwo"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="panel-group"
          id="accordion3"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default collapse_menu">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion3"
                  href="#collapseThree"
                  aria-expanded="true"
                  aria-controls="collapseThree"
                >
                  Lorem ipsum dolor sit amet, consectetur elit, sedo?
                  <span
                    class="carat_accordian more-less carat_accordian_down pull-right"
                  ></span>
                </a>
              </h4>
            </div>
            <div
              id="collapseThree"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="panel-group"
          id="accordion4"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default collapse_menu">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion4"
                  href="#collapseFour"
                  aria-expanded="true"
                  aria-controls="collapseFour"
                >
                  Lorem ipsum dolor sit amet, consectetur elit, sedo?
                  <span
                    class="carat_accordian more-less carat_accordian_down pull-right"
                  ></span>
                </a>
              </h4>
            </div>
            <div
              id="collapseFour"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="panel-group"
          id="accordion5"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default collapse_menu">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion5"
                  href="#collapseFive"
                  aria-expanded="true"
                  aria-controls="collapseFive"
                >
                  Lorem ipsum dolor sit amet, consectetur elit, sedo?
                  <span
                    class="carat_accordian more-less carat_accordian_down pull-right"
                  ></span>
                </a>
              </h4>
            </div>
            <div
              id="collapseFive"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFive"
            >
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="panel-group"
          id="accordion6"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default collapse_menu">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion6"
                  href="#collapseSix"
                  aria-expanded="true"
                  aria-controls="collapsSix"
                >
                  Lorem ipsum dolor sit amet, consectetur elit, sedo?
                  <span
                    class="carat_accordian more-less carat_accordian_down pull-right"
                  ></span>
                </a>
              </h4>
            </div>
            <div
              id="collapseSix"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingSix"
            >
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--what you get section end-->


  <!--promotional section-->
  <!-- <section class="promotional_section relative_position">
    <div class="promotional_banner_pricing">
      <img src="assets/images/banners/promotional_banner/promotional_banner_desktop_1.png" alt="promotional_banner_desktop_1"
        class="img-responsive" />
      <div class="caption promotional_caption container"><span class="font_lato promo_tag">{{ 'subs.WhatyougetSectionUser' | translate }}
          </span>
        <span class="font_big">{{ 'subs.WhatyougetSectionRecharge' | translate }} <br> {{ 'subs.WhatyougetSectionmore' | translate }}</span>
        <button class="btn btn-default btn_icon"><a target="_blank" href="https://play.google.com/store/apps/details?id=ae.etisalat.arena&hl=en"><img src="/assets/images/g_play_btn.png" alt="g_play_btn"
            class="img-responsive" /></a></button>
        
      </div>
    </div>
  </section> -->
  <!--promotional section end-->
