
<!-- <app-menu-header (MusicPlayAlbumMenu)="MusicPlayAlbumMenuClicked($event)" (isMusicAddWishListClicked)="MusicPlayAlbumMenuClicked($event)" (loginConfirmed)="LoginConfirmed($event)"></app-menu-header> -->
<app-login (MusicPlayAlbumMenu)="MusicPlayAlbumMenuClicked($event)" (isMusicAddWishListClicked)="MusicPlayAlbumMenuClicked($event)" (loginConfirmed)="LoginConfirmed($event)"></app-login>
    <app-section-music-child (MusicPlayAlbum)="MusicPlayAlbumClicked($event)" (AddwishlistmusicClicked)="AddwishlistmusicClicked($event)"></app-section-music-child>
<app-footer></app-footer>
