
  <!--Banner section-->
  <section class="banner_section">
    <div class="banner">
      <img src="/assets/images/banners/illustrated_banner/only_particles/banner_only_particles_desktop.png"
        class="img-responsive" alt="banner_only_particles_desktop" />
    </div>
  </section>
  <!--Banner section end-->

  <!--wishlist section-->
  <section class="wishlist_section wishlist_section_filled">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><span class="page_title">Wishlisted Items</span></div>
      </div>
      <div class="row">
        <aside class="sidebar_category col-sm-4">
          <ul class="main_categories font_lato">
            <li><a href="#"><img src="/assets/images/icons/filters/filters_video_default.svg" class="img-responsive" />Videos
                <span>(2098)</span></a></li>
            <li><a href="#"><img src="/assets/images/icons/filters/filters_music_default.svg" class="img-responsive" />Musics
                <span>(3425)</span></a></li>
            <li><a href="#" class="active"><img src="/assets/images/icons/filters/filters_games_onselect.svg"
                  class="img-responsive" />Games
                <span>(1452)</span></a></li>
            <li><a href="#"><img src="/assets/images/icons/filters/filters_apps_default.svg" class="img-responsive" />Apps
                <span>(2136)</span></a></li>
          </ul>
        </aside>
        <div class="col-sm-8 category_content">
          <div class="col-sm-12 filter_dropdown font_lato">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">{{ 'wishlist.Newest' | translate }}
                  <span class="caret_down"><img src="/assets/images/icons/arrows/arrows_sort_by_button_down_all.svg"
                      class="img_valign_sort" /></span></a>
                <ul class="dropdown-menu filter_options">
                  <li><a href="#" class="active">{{ 'wishlist.Newest' | translate }}</a></li>
                  <!-- <li><a href="#">Recommended</a></li> -->
                  <li><a href="#">{{'rightsection.AtoZ' | translate}}</a></li>
                  <li><a href="#">{{'rightsection.ZtoA' | translate}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 margin_bottom24">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_1.png" class="img-responsive inline"
                alt="listing_games_desktop_tablet_landscape_1" />
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Clash of clans</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar" /></li>
                </ul>

                <div class="creative_type_year font_lato margin_top0 inline">
                  <span class="rating font_lato v_align_normal">4.5</span> | <span
                    class="creative_type margin_top0">Action</span>
                  <span class="play_click"><a class="margin_left0" href="">Play <img
                        src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin_bottom24">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_2.png" class="img-responsive inline"
                alt="listing_games_desktop_tablet_landscape_2" />
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Fifa football</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar" /></li>
                </ul>

                <div class="creative_type_year font_lato margin_top0 inline">
                  <span class="rating font_lato v_align_normal">4.5</span> | <span
                    class="creative_type margin_top0">Action</span>
                  <span class="play_click"><a class="margin_left0" href="">Play <img
                        src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin_bottom24">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_3.png" class="img-responsive inline"
                alt="listing_games_desktop_tablet_landscape_2" />
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Limbo</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar" /></li>
                </ul>

                <div class="creative_type_year font_lato margin_top0 inline">
                  <span class="rating font_lato v_align_normal">4.5</span> | <span
                    class="creative_type margin_top0">Action</span>
                  <span class="play_click"><a class="margin_left0" href="">Play <img
                        src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin_bottom24">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_4.png" class="img-responsive inline"
                alt="listing_games_desktop_tablet_landscape_1" />
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Frost</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar" /></li>
                </ul>

                <div class="creative_type_year font_lato margin_top0 inline">
                  <span class="rating font_lato v_align_normal">4.5</span> | <span
                    class="creative_type margin_top0">Action</span>
                  <span class="play_click"><a class="margin_left0" href="">Play <img
                        src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin_bottom24">
            <div class="subs_plans featured_images">
              <img src="/assets/images/featured/game/listing_games_desktop_tablet_landscape_1.png" class="img-responsive inline"
                alt="listing_games_desktop_tablet_landscape_1" />
              <div class="img_desc_horizontal">
                <h2 class="creative_name font_lato margin_top0">Clash of clans</h2>
                <ul class="star_rating star_rating_custom inline">
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_full.svg" alt="fullstar" /></li>
                  <li><img src="/assets/images/icons/stars/stars_partial.svg" alt="halfstar" /></li>
                </ul>

                <div class="creative_type_year font_lato margin_top0 inline">
                  <span class="rating font_lato v_align_normal">4.5</span> | <span
                    class="creative_type margin_top0">Action</span>
                  <span class="play_click"><a class="margin_left0" href="">Play <img
                        src="/assets/images/icons/arrows/arrows_third_action_button.svg" class="img_valign"></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!--wishlist section end-->

  <!--Banner section-->
  <section class="banner_section banner_section_wishlist">
    <div class="banner banner_wishlist">
      <img src="/assets/images/banners/illustrated_banner/wishlist/wishlist_desktop_tablet.svg" class="img-responsive"
        alt="wishlist_desktop_tablet" />
      <div class="caption container"><span class="font_big">Don’t lose your wishlist</span>We noticed you are not logged
        in. <br>Make sure your favourites stay saved.
        <button class="btn btn-default font_lato">Log In</button>
      </div>
    </div>
  </section>
  <!--Banner section end-->

