<!--footer section-->

<section class="footer_section" style="position: relative;">
    <footer class="footer_bg">
        <div class="container">

                <div class="col-xs-12 col-lg-4">
                        <p>©{{'menu.Rights' | translate}}</p>
          
        
        <p class="media_ico">
                   
                    
                    <a href="#">
                     <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x "></i>
                      <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    </a>
                    |
                    <a href="#">    
                     <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x "></i>
                      <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                    </a>
                    |
                    <a href="#">
                     <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x "></i>
                      <i class="fa fa-linkedin-square fa-stack-1x"></i>
                    </span>
                    </a>
                </p>
                </div>
    
    
    <div class="col-md-6 col-xs-12 ">
      
      <ul class="footer_menu">
          <li><a (click)="openTC()" class="link" style="cursor: pointer;">{{'t.c' | translate}}</a></li>
          <li><a (click)="openPP()"  class="link" style="cursor: pointer;">{{'p.p' | translate}}</a></li>
      </ul>
    
    </div>
    
    <div class="col-md-2 col-xs-12 ">
      
      <p><img src="/assets/images/logo.png" style="width: 160px;" alt="" class="text-right"></p>
      <!-- <p><img src="/assets/images/google_play.png" alt="" class="pull-right"></p> -->
    
    </div>
               
        </div>
    </footer>
</section>
<!--footer section end-->
