
<!--pricing promotional section-->
<section class="pricing_promotional_section">
  <div class="container">
    <div class="row_custom">
      <div class="col-sm-6 pricing_banner">
        <div class="banner_info">
          <h6>{{'subs.PricingpreviewArena' | translate}}</h6>
          <p>{{'subs.PricingpreviewExploreAll' | translate}}</p>
          <!-- <p></p> -->
          <!-- <p>Aenean enim sem, efficitur et pellentesque a, posuere a sapien.</p> -->
        </div>
      </div>
      <div class="col-sm-6 pricing_banner_2">
        <div class="banner_info">
          <h6>{{'subs.PricingpreviewFree' | translate}}</h6>
          <p>{{'subs.Pricingpreviewgames' | translate}}</p>
          <!-- <p>Sed lobortis ultricies enim sed tempor.</p>
          <p>Aenean enim sem, efficitur et pellentesque a, posuere a sapien.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/pricing promotional section-->
