<!-- <app-menu-header (SubscriptionContainerlanguageChanged)="SubscriptionContainerlanguageChanged()"></app-menu-header> -->
<app-login (SubscriptionContainerlanguageChanged)="SubscriptionContainerlanguageChanged()"></app-login>
<app-subscription-package-selection-preview-banner
  [bannerImageLink]="'assets/images/banners/illustrated_banner/1_Pricing/1/03.6_Illustrated Banner_Pricing_Desktop_1.png'"
  [heading]="'subs.Bannerheading' | translate "
  [heading1]="'subs.Bannerheading1' | translate "
  [heading3]="'subs.Bannerheading2' | translate "
  [heading2]="'subs.Bannerheading3' | translate "
></app-subscription-package-selection-preview-banner>
<!-- <app-subscription-main-package-container (subscribeClickedFromSubscriptionMainPackageContainerComponent)="SubscribeClicked($event)"></app-subscription-main-package-container> -->
<app-subscription-main-package-container></app-subscription-main-package-container>
<app-footer></app-footer>
