<section class="banner_section banner_pricing">
  <div class="banner">
    <img src="assets/images/banners/illustrated_banner/1_Pricing/1/03.6_Illustrated Banner_Pricing_Desktop_1.png"
      class="img-responsive" alt="illustrated_banner_pricing_desktop" />
    <div class="caption container">
      <span class="font_big_green">With Etisalat Arena, there is a plan for everyone.<br>
        Discover a world of apps.</span>
      <span class="caption_tag font_lato">Find the Plan that works for you</span>
    </div>
  </div>
</section>
